In [34]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
import COVID19py

ModuleNotFoundError: No module named 'COVID19py'

In [11]:
# Load US Unemployment Data into Pandas
ue_data_df = pd.read_csv("data_research/Complete_UR_Download.csv", delimiter = ';')
ue_data_df.head()

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,United States,Unemployment Rate,1948-01-31T00:00:00,3.4,Monthly,USURTOT,2012-02-23T11:41:00
1,United States,Unemployment Rate,1948-02-29T00:00:00,3.8,Monthly,USURTOT,2012-02-23T11:41:00
2,United States,Unemployment Rate,1948-03-31T00:00:00,4.0,Monthly,USURTOT,2012-02-23T11:41:00
3,United States,Unemployment Rate,1948-04-30T00:00:00,3.9,Monthly,USURTOT,2012-02-23T11:41:00
4,United States,Unemployment Rate,1948-05-31T00:00:00,3.5,Monthly,USURTOT,2012-02-23T11:41:00

In [23]:
#Create 2008 Housing Crisis Dataframe
subset_08_df = ue_data_df.loc[ue_data_df["DateTime"] >= '2008-12-31T00:00:00']
subset_08_df = subset_08_df.loc[subset_08_df["DateTime"] <= '2009-02-31T00:00:00']
subset_08_df = subset_08_df[['DateTime','Value']]
subset_08_df = subset_08_df.rename(columns={'DateTime':'Date Time', 'Value':'Unemployment Rate'})
subset_08_df

               Date Time  Unemployment Rate
731  2008-12-31T00:00:00                7.3
732  2009-01-31T00:00:00                7.8
733  2009-02-28T00:00:00                8.3

In [27]:
#Create 2020 COVID-19 Crisis Dataframe
subset_20_df = ue_data_df.loc[ue_data_df["DateTime"] >= '2020-01-01T00:00:00']
subset_20_df = subset_20_df.loc[subset_20_df["DateTime"] <= '2020-04-31T00:00:00']
subset_20_df = subset_20_df[['DateTime','Value']]
subset_20_df = subset_20_df.rename(columns={'DateTime':'Date Time', 'Value':'Unemployment Rate'})
subset_20_df

               Date Time  Unemployment Rate
864  2020-01-31T00:00:00                3.6
865  2020-02-29T00:00:00                3.5
866  2020-03-31T00:00:00                4.4

In [29]:
# Export Unemployment Dataframes to .csv files
subset_08_df.to_csv("subset_08.csv", index=False, header=True)
subset_20_df.to_csv("subset_20.csv", index=False, header=True)

In [30]:
cv.?

SyntaxError: invalid syntax (<ipython-input-30-44ffb5aae975>, line 1)