In [34]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'COVID19py'

In [11]:
# Load US Unemployment Data into Pandas
ue_data_df = pd.read_csv("data_research/Complete_UR_Download.csv", delimiter = ';')
ue_data_df.head()

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,United States,Unemployment Rate,1948-01-31T00:00:00,3.4,Monthly,USURTOT,2012-02-23T11:41:00
1,United States,Unemployment Rate,1948-02-29T00:00:00,3.8,Monthly,USURTOT,2012-02-23T11:41:00
2,United States,Unemployment Rate,1948-03-31T00:00:00,4.0,Monthly,USURTOT,2012-02-23T11:41:00
3,United States,Unemployment Rate,1948-04-30T00:00:00,3.9,Monthly,USURTOT,2012-02-23T11:41:00
4,United States,Unemployment Rate,1948-05-31T00:00:00,3.5,Monthly,USURTOT,2012-02-23T11:41:00

In [23]:
#Create 2008 Housing Crisis Dataframe
subset_08_df = ue_data_df.loc[ue_data_df["DateTime"] >= '2008-12-31T00:00:00']
subset_08_df = subset_08_df.loc[subset_08_df["DateTime"] <= '2009-02-31T00:00:00']
subset_08_df = subset_08_df[['DateTime','Value']]
subset_08_df = subset_08_df.rename(columns={'DateTime':'Date Time', 'Value':'Unemployment Rate'})
subset_08_df

               Date Time  Unemployment Rate
731  2008-12-31T00:00:00                7.3
732  2009-01-31T00:00:00                7.8
733  2009-02-28T00:00:00                8.3

In [27]:
#Create 2020 COVID-19 Crisis Dataframe
subset_20_df = ue_data_df.loc[ue_data_df["DateTime"] >= '2020-01-01T00:00:00']
subset_20_df = subset_20_df.loc[subset_20_df["DateTime"] <= '2020-04-31T00:00:00']
subset_20_df = subset_20_df[['DateTime','Value']]
subset_20_df = subset_20_df.rename(columns={'DateTime':'Date Time', 'Value':'Unemployment Rate'})
subset_20_df

               Date Time  Unemployment Rate
864  2020-01-31T00:00:00                3.6
865  2020-02-29T00:00:00                3.5
866  2020-03-31T00:00:00                4.4

In [29]:
# Export Unemployment Dataframes to .csv files
subset_08_df.to_csv("subset_08.csv", index=False, header=True)
subset_20_df.to_csv("subset_20.csv", index=False, header=True)

In [35]:
# Load COVID-19 Data into Pandas
cv19_df = pd.read_csv("data_research/CovidStatesData.csv")
cv19_df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [51]:
#Create COVID-19 Dataframe
subset_cv19_df = cv19_df.loc[cv19_df['date'] >= '2020-02-01']
subset_cv19_df = subset_cv19_df.loc[subset_cv19_df['date'] <= '2020-04-31']
subset_cv19_df = subset_cv19_df[['date','state','cases','deaths']]
subset_cv19_df = subset_cv19_df.rename(columns={'date':'Date', 'state':'State', 'cases':'Cases', 'deaths':'Deaths'})
subset_cv19_df

            Date          State  Cases  Deaths
32    2020-02-01        Arizona      1       0
33    2020-02-01     California      3       0
34    2020-02-01       Illinois      2       0
35    2020-02-01  Massachusetts      1       0
36    2020-02-01     Washington      1       0
...          ...            ...    ...     ...
2268  2020-04-12       Virginia   5274     141
2269  2020-04-12     Washington  10411     511
2270  2020-04-12  West Virginia    615       8
2271  2020-04-12      Wisconsin   3341     145
2272  2020-04-12        Wyoming    270       0

[2241 rows x 4 columns]

In [56]:
#Group COVID-19 data by date to get US totals
grouped_cv19 = subset_cv19_df.groupby(["Date"])
cv19_datesums_df = grouped_cv19.sum()
cv19_datesums_df

             Cases  Deaths
Date
2020-02-01       8       0
2020-02-02      11       0
2020-02-03      11       0
2020-02-04      11       0
2020-02-05      12       0
...            ...     ...
2020-04-08  429319   14803
2020-04-09  463684   16674
2020-04-10  496912   18712
2020-04-11  528405   20575
2020-04-12  555371   22056

[72 rows x 2 columns]

In [54]:
cv19_datesums_df[index].values()

NameError: name 'index' is not defined

In [ ]:
# Plot the COVID-19 cases, deaths by date


cases, = plt.plot(time, speed_chain, color="blue", label="Cases")
deaths, = plt.plot(time, speed_launch, color="red", label="Deaths")